<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProperty scope="context" name="gateway" source="spring.application.name" defaultValue="gateway"/>
    <springProperty scope="context" name="rmq.user" source="spring.rabbitmq.username" defaultValue="guest"/>
    <springProperty scope="context" name="rmq.pass" source="spring.rabbitmq.password" defaultValue="pshankar26"/>
    <springProperty scope="context" name="rabbitMQHost" source="spring.rabbitmq.host"/>
    <appender name="AMQP"
              class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %logger{36} - %msg</pattern>
        </encoder>

<!--        <applicationId>gateway</applicationId>-->
        <host>${rabbitMQHost:-localhost}</host>
        <routingKeyPattern>%property{applicationId}.%p</routingKeyPattern>
        <exchangeName>logs.topic</exchangeName>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <declareExchange>true</declareExchange>
        <deliveryMode>PERSISTENT</deliveryMode>
        <username>${rmq.user}</username>
        <password>${rmq.pass}</password>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="AMQP" />
    </root>
</configuration>