.badge {
  font-size: x-medium;
  border-radius: 4px;
  padding: 0.2em;
  margin: 1.5em;
}
table, th, td {
    border: 1px solid black; /* Add borders for visibility */
    border-collapse: collapse; /* Optional: Makes borders single line */
    padding: 8px;
    text-align: center;
    border: 2px solid black;
    margin: 5px 5px;
}
th {
    background-color: #f2f2f2;
    padding: 8px;
}
label {
   width: 200px;
   display: inline-block;
   text-align: right;
   padding: 8px;
}

.form-container{
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 50px; /* Example height for visibility */
}

input[type="text"] {
  padding: 3px; /* Adds 10px padding on all sides */
  border: 1px solid black; /* Add borders for visibility */
}

input[type="number"] {
  padding: 3px; /* Adds 10px padding on all sides */
  border: 1px solid black; /* Add borders for visibility */
}

input[type="submit"] {
  padding: 3px; /* Adds 10px padding on all sides */
  align-items: center; /* Centers vertically */
  font-size: 1em;
  padding: 4px 20px;
  position: absolute;
}