body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
}

.display-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challenge {
    font-size: 4em;
}

th {
    padding-right: 0.5em;
    border-bottom: solid 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
